body{
    background-image: url("pic 3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px;
    padding: 10px;

}
.fqq img{
    width: auto;
    height: 500px;
}
.meghn img{
    height: 550px;
}

.eghna img{
 margin-left: 50px;
 margin-top: 100px;
}

